#ocm-container {
    border: 1px solid #ddd;
    padding: 15px;
}
div[ocm-attr] {
    display: none;
}
.ocm-hide {
    display: none;
}
.ocm-visible {
    display: flex !important;
}
.ocm-checkgroup {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 6px !important;
    flex-direction: column;
}
.ocm-checkgroup-checkbox {
    height: 60px !important;
    overflow: auto;
    flex-wrap: wrap;
}
.ocm-checkgroup-checkbox label {
    margin-right: 10px;
    margin-bottom: 5px;
}
.ocm-checkgroup-search {
    margin: 3px 0px 8px 0px;
}
.ocm-checkgroup-option {
    text-align: right;
    margin-top: 5px;
}
.ocm-checkgroup-option a {
    margin-right: 10px;
}
.ocm-autofill-box {
    margin-bottom: 8px;
}
.ocm-autofill-option {
    text-align: right;
}
.ocm-more {
    margin-top: 5px;
}
.ocm-more a {
    background: #f6fdf3;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    font-size: 12px;
    text-decoration: none;
}
.ocm-more-container {
   margin-top: 12px;
   background: #fbfbfb;
   padding: 10px;
   border: 1px solid #ddd;
   display: none;
}
.ocm-checkgroup + .ocm-more {
    display: none;
}
.ocm-visible + .ocm-more {
    display: block;
}
.ocm-other-extension {
    text-align: left;
    margin-top: 30px;
    font-size: 15px;
}
a.ocm-check-uncheck, a.ocm-remove-all, a.ocm-browser {
    background: #909090;
    padding: 2px 6px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 5px;
}
a.ocm-check-uncheck:hover, a.ocm-remove-all:hover, a.ocm-browser:hover {
    background: #03A9F4;
}
/* OCM Modal*/
.ocm-modal-content {
    min-height: 100px;
}
.ocm-modal-loader {
    text-align: center;
}
.ocm-modal-loader i {
    font-size: 24px;
}
 /* Bootstrap 3 modal popup - vertically centerd */
.ocm-modal {
    text-align: center;
    padding: 0!important;
}
.ocm-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.ocm-modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
/* OCM Browser */
.ocm-browser-filter {
    margin-bottom: 14px;
}
.ocm-browser-keyword {
    width: calc(100% - 100px);
    float: left;
    margin-right: 10px;
}
.ocm-browser-autofill {
    width: 48%;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
}
.ocm-browser-field {
    width: 150px;
    float: left;
    margin-right: 6px;
}
.browser-product .ocm-browser-keyword {
  width: calc(100% - 252px);
}
.ocm-browser-btn i{
   display: none;
}
.ocm-import {
    width: 65%;
    margin-right: 5px;
    float: left;
}
input.ocm-file[type="file"] {
    display: none;
}
.ocm-full-row {
   flex-direction: column;
}
.ocm-full-label {
    padding: 10px 2px;
    text-align: left !important;
}
.ocm-debug-button {
    text-align: center;
}
div.ocm-method {
    position: relative;
}
.ocm-range-container {
    margin: 20px 0px;
    background: #fcfcfc;
    padding: 15px;
    border: 1px solid #c7c7c7;
}
.ocm-range-option {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 5px;
}
.ocm-range-option .range-btn {
    margin-right: 5px;
}
.ocm-range-container select {
   width: 100px;
}
#ocm-container td {
    font-size: 13px;
}
.ocm-hover-row {
  background: #f1fffd;
}
button.add-new {
    margin-top: 10px;
}
/* Left Method list */
#method-list > li {
    position: relative;
}
#method-list > li > a.global{
  text-transform: uppercase;
  background-color: #c7c7c7;
  color: #555;
  font-weight: bold;
}
#method-list > li > a {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 2px;
    border-right:1px solid #ccc;
}
#method-list > li.active > a,
#method-list > li > a:hover,
#method-list > li > a.active,
#method-list > li > a:hover {
  background-color: #1e91cf;
  color: #fff;
}
#method-list > li.active a.global,
#method-list > li a.active.global {
  background-color: #FF5722 !important;
}
#method-list i {
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: move;
  display: none;
  color: #f1f1f1;
}
#method-list li:hover i {
  display: inline-block;
}
/* End of method list*/
input.display {width: 300px;}
.action-btn {
    position: absolute;
    right: 0;
    top: -5px;
    z-index: 10;
}
.action-btn button {
    margin-left: 5px;
}

.dropable {
    border: 2px dotted #f38733 !important;
}
.dragging {
    opacity: 0.5;
}

div.tooltip div.tooltip-inner { 
    font-weight:normal !important; 
    text-align:left !important;
}
div.tooltip div.tooltip-inner b{ 
    display:block !important;
}
.global-waiting {
    display:block;
    position:fixed;
    width:124px;
    height:34px;
    text-align:center;
    font-size:15px;
    font-weight:bold; 
    color:#ffffff;
    background-color:#D96E7C; 
    border-radius:5px;
    padding-top:5px;
}
/* joocart design issue */
@media (min-width: 768px) {
   .body-oc .col-sm-9 {
       width: 72% !important;
    }
}