.main-delivery {
    padding: 47px 64px 170px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}


.main-delivery-part {
    display: flex;
    flex-direction: column;
}
.main-delivery__title {
    font-family: LT Superior, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 23px;
}
.main-delivery__subtitle {
    font-family: LT Superior, sans-serif;
    font-size: 17px;
    font-weight: 450;
    line-height: 17px;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
}
.main-delivery-container-imgs {
    height: 71px;
    display: flex;
    gap: 154px;
    align-items: center;
    margin-bottom: 28px;
}

.main-delivery-part:nth-child(2) .main-delivery-container-imgs {
    height: 47.41px;
    gap: 207px;
    margin-bottom: 41px;
}

.main-delivery-part:nth-child(2) .main-delivery__subtitle {
    margin-bottom: 26px;
}

.main-delivery__subtitle_bottom {
    font-family: LT Superior, sans-serif;
    font-size: 17px;
    font-weight: 450;
    line-height: 17px;
    letter-spacing: 0.01em;
    max-width: 756px;
}

.main-delivery__subtitle b,
.main-delivery__subtitle_bottom b {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
}



.main-delivery-img {
    line-height: 0;
}

.main-delivery-img:nth-of-type(1) img {
    max-width: 85px;
    min-width: 85px;
    height: 23px;
}

.main-delivery-img:nth-of-type(2) img {
    max-width: 43px;
    min-width: 43px;
    height: 43px;
}

.main-delivery-img:nth-of-type(3) img {
    max-width: 72px;
    min-width: 72px;
    height: 41px;
    
}

.main-delivery-img:nth-of-type(4) img {
    max-width: 88px;
    min-width: 88px;
    height: 25px;  
}

.main-delivery-part:nth-child(2) .main-delivery-img:nth-of-type(1) img {
    max-width: 71px;
    min-width: 71px;
    height: 47px;    
}

.main-delivery-part:nth-child(2) .main-delivery-img:nth-of-type(2) img {
    max-width: 87px;
    min-width: 87px;
    height: 47.41px; 
}

.main-delivery-part:nth-child(2) .main-delivery-img:nth-of-type(3) img {
    max-width: 166px;
    min-width: 166px;
    height: 38.98px;    
}

@media screen and (max-width: 1100px) {
    .main-delivery {
        padding: 38px 29px 120px 28px;
    }
}

@media screen and (max-width: 480px) {
    .main-delivery {
        padding: 13.25px 24px 110px 18px;
        gap: 62px;
    }

    .main-delivery__title {
        margin-bottom: 20px;
    }

    .main-delivery__subtitle {
        margin-bottom: 22px;
    }

    .main-delivery-container-imgs {
        height: unset;
        margin-bottom: 22px;
        gap: 30px !important;
    }

    .main-delivery .main-delivery-container-imgs .main-delivery-img img{
        width: 100% !important;
        height: auto !important;
        min-width: unset !important;  
    }
}