.basket {
    display: flex;
    gap: 45px;
    max-width: 1512px;
    padding: 58px 82px 169.26px 64px;
    width: 100%;
}

.basket-leftside {
    flex: 1 0 0;
}

.basket-title {
    padding-top: 23px;
    padding-bottom: 10px;
}

.basket-title h2{
    font-family: jsMath-cmbx10, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;

}
.basket-btns {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    height: 23px;
}

.basket-btns button {
    color: #1119C7;
    font-family: LT Superior;
    font-size: 17px;
    font-weight: 600;
    line-height: 19px;
    height: 20px;
}

.basket-btns button:last-child {
    margin-right: 5px;
    width: 107px;
    text-align: left;
}

.basket-cards {
    padding-left: 18px;
}
.basket-card {
    border-top: 1px solid #EAE9E9;
    padding: 24px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    position: relative;
    column-gap: 33px;
}

.basket-card:last-child {
    border-bottom: 1px solid #EAE9E9;
}

.basket-card-container-img {
    line-height: 0;
    grid-row: span 2;
    aspect-ratio: 1 / 1;
}

.basket-card-container-img img {
    aspect-ratio: 1 /1 ;
    width: 100%;
    object-fit: cover;
    max-width: 174px;
}
.basket-card-container-main {
    padding-top: 31px;
}
.basket-card-description__category {
    font-family: LT Superior, sans-serif;
    font-size: 12px;
    font-weight: 450;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.basket-card-description__title {
    font-family: Involve, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.07em;
    margin-bottom: 14px;
}
.basket-card-description__price {
    font-family: LT Superior, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.07em;
}
.basket-card-price-container-result {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: 30px;
}
.basket-card-btn {
    max-width: 37px;
    min-width: 37px;
    height: 20px;
    background: #D9D9D9;
    font-family: Involve, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #1119C7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    line-height: 0;
}

.basket-card-btn:first-child {
    margin-right: 21.06px;
}

.basket-card-btn:nth-child(2){
    margin-right: 38.88px;
}

.basket-card-btn_count {
    max-width: 29.84px;
    min-width: 29.84px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-family: Itim, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.01em;
    height: 21px;
    line-height: 0;
    color: black;
    margin-right: 10px;

}
.basket-card-price__value {
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;
    font-family: LT Superior, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.07em;
    margin-right: 12px;
    text-align: left;
    min-width: fit-content;
}
.basket-card__close {
    position: absolute;
    top: 18px;
    right: 27px;
    width: 14px;
    height: 27px;
}

.basket-card__close  img {
    width: 100%;
    height: auto;
}
.basket-promo {
    margin-left: 18px;
    padding: 85px 0 85px 39px;
    display: flex;
    border-bottom: 1px solid #EAE9E9;
}

.basket-promo__title {
    display: flex;
    gap: 15px;
    margin-right: 18.52px;
    align-items: center;
    align-self: flex-start;
}
.basket-promo__title span{
    font-family: jsMath-cmbx10, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    height: 25px;
}

.basket-promo__helper {
    width: 26.48px;
    height: 29px;
}
.basket-promo__helper img{
    width: 100%;
    height: auto;
}

.basket-promo form {
    display: flex;
    width: 100%;
    gap: 21px;
}

.basket-promo input {
    max-width: 335px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 7px;
    padding:  10px 15px 9px;
    font-family: LT Superior, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
}

.basket-promo input::placeholder {
    color: #D0CDCD;
}

.basket-promo button {
    max-width: 143px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    background-color: #0761E8;
    color: white;
    font-family: LT Superior, sans-serif;
    font-size: 15px;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: 0.01em;
}


.basket-delivery {
    padding: 85px 0 85px 36px;
    margin-left: 18px;
    border-bottom: 1px solid #EAE9E9;
}
.basket-delivery__title {
    font-family: jsMath-cmbx10, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    height: 25px;
    margin-bottom: 14px;
    margin-left: 3px;
}
.basket-delivery__subitle {
    font-family: LT Superior, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-bottom: 24px;
}
.basket-delivery-form {
}
.delivery-form__blockInput {
    max-width: 531px;
    width: 100%;
    margin-bottom: 45px;
}

.delivery-form__blockInput label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.delivery-form__blockInput label span {
    font-family: LT Superior, sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 19px;
    letter-spacing: 0.01em;
    margin-left: 3px;

}

.delivery-form__blockInput > div {
    display: flex;
}

.delivery-form__blockInput > div:first-of-type > label:first-child{
    max-width: 83px;
    margin-right: 35px;
}

.delivery-form__blockInput > div:last-of-type > label:first-child{
    max-width: 92px;
    margin-right: 25px;
}

.delivery-form__blockInput > div > label:last-child {
    flex: 1 0 0;
}

.delivery-form__blockInput label input,
.delivery-form__blockInput label select {
    border: 1px solid black;
    border-radius: 7px;
    height: 40px;
    width: 100%;
    font-family: LT Superior, sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 19px;
    letter-spacing: 0.01em;
    padding: 11px 8px 10px;
    color: black;
}

.delivery-form__blockInput label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

.delivery-form__blockRadio {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-bottom: 55px;
}
.labelRadio {
    display: flex;
    gap: 15px;
}

.labelRadio input {
    max-width: 23px;
    min-width: 23px;
    height: 23px;
    border: 1px solid #0761E8;
    background-color: #0761E8;
}

.labelRadio > div {
    height: 34px;
    display: flex;
    flex-direction: column;
}

.labelRadio span:first-child {
    font-family: LT Superior, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.labelRadio span:last-child {
    font-family: LT Superior, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.basket-delivery-form__addone {
    display: flex;
    gap: 19px;
    margin-bottom: 78px;
}

.basket-delivery-form__addone span:first-child {
    max-width: 676px;
    font-family: LT Superior, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.01em;
}

.basket__phoneContainer {
    max-width: 36px;
    min-width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 50%;
    padding: 9px 8px;
    cursor: pointer;
}

.basket__phoneContainer:hover {
    background-color: #B6A8A8;
}

.basket__phoneContainer img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.basket-delivery button {

    max-width: 283px;
    width: 100%;
    background-color: #0761E8;
    border-radius: 7px;
    height: 40px;
    color: white;
    font-family: LT Superior, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0 295px 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.basket-payment {
    padding: 90px 0 0 37px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 18px;
}
.basket-payment__title {
    font-family: jsMath-cmbx10, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    height: 25px;
}
.basket-payment-list ul{
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.basket-payment-list li {
    display: flex;
    align-items: center;
}

.basket-payment-list li input {
    max-width: 23px;
    min-width: 23px;
    height: 23px;
    margin-right: 19px;
}

.basket-payment-list li img {
    margin-right: 21.5px;
}

.basket-payment-list li:nth-child(1) img {
    width: 31.5px;
    height: 18px;
}

.basket-payment-list li:nth-child(2) img {
    width: 29px;
    height: 29px;
}

.basket-payment-list li:nth-child(3) img {
    width: 31px;
    height: 36.74px;
}

.basket-payment-list li span {
    font-family: LT Superior, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.01em;
}
.basket-rightside {
    max-width: 410px;
    width: 100%;
    height: 415px;
    padding: 53px 23px 68px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #E4E0E0;
    box-shadow: 0 0 8.5px 1px rgba(0, 0, 0, 0.09);
    position: sticky;
    right: 0;
    top: 47px;

}
.basket-rightside-description {
    display: flex;
    flex-direction: column;
}

.basket-rightside-property {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.basket-rightside-property span{
    font-family: LT Superior, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.basket-rightside__payment span{
    font-family: LT Superior, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.01em;
}

.basket-rightside__delivery {
    height: 18px;
    margin-bottom: 9px;
}
.basket-rightside__deliveryPoint {
    margin-bottom: 9px;
    align-self: flex-end;
}

.basket-rightside__deliveryDoor  {
    align-self: flex-end;
    margin-bottom: 51px;
}

.basket-rightside__deliveryPoint button,
.basket-rightside__deliveryDoor button{
    color: #299F3E;
    font-family: LT Superior, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.01em;
}

.basket-rightside-button {
    margin: 0 auto;
}

.basket-rightside-button button{
    color: white;
    border-radius: 7px;
    width: 283px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #299F3E;
    gap: 28px;
}

.basket-rightside-button button span {
    font-family: LT Superior;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0.01em;
}

.move-button {
    display: none;
}

@media screen and (max-width: 1100px) {
    .basket {
        padding: 38px 25px 116px 0px;
        gap: 33px;
    }

    .basket-title {
        padding-top: unset;
        padding-left: 25px;
        padding-bottom: 16.78px;
    }

    .basket-btns {
        padding-left: 25px;
        margin-bottom: 23px;
        height: unset;
    }

    .basket-btns button:first-child {
        font-size: 16px;
        font-weight: 450;
        line-height: 18.9px;
    }

    .basket-btns button:last-child {
        font-size: 15px;
        font-weight: 600;
        line-height: 16.62px;
        width: 96px;
        height: 20px;
        margin: unset;
        transform: translateX(3px);
    }

    .basket-cards {
        padding-left: unset;
    }

    .basket-card {
        padding: 27px 8.05px 27px 35.93px;
        column-gap: 25.84px;
        row-gap: 18px;
    }

    .basket-card-container-img {
        grid-row: 1;
        grid-column: 1;
    }

    .basket-card-container-img img {
        max-width: 113px;
    }

    .basket-card-container-main {
        padding-top: 21px;
    }

    .basket-card-description__category {
        font-size: 9px;
        font-weight: 450;
        line-height: 11px;
        letter-spacing: 0.01em;
        margin-bottom: 9px;
    }

    .basket-card-description__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.01em;
        margin-bottom: 5px;
    }

    .basket-card-description__price {
        font-size: 13px;
        font-weight: 700;
        line-height: 17.29px;
        letter-spacing: 0.01em;
    }

    .basket-card-price-container-result {
        grid-row: 2;
        grid-column: 2 span;
        margin-top: unset;
        padding-left: 19px;
    }

    .basket-card-btn {
        max-width: 30px;
        min-width: 30px;
        height: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18.62px;
    }

    .basket-card-btn:first-child {
        margin-right: 17px;
    }

    .basket-card-btn:nth-child(2) {
        margin-right: 27px;
    }

    .basket-card-btn_count {
        max-width: 27.26px;
        min-width: 27.26px;
        height: 19px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: 0.01em;
    }

    .basket-card-price__value {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0.01em;
        margin-right: 5px;
    }

    .basket-card:last-child {
        padding-bottom: 49px;
        border-bottom-width: 21px;
    }

    .basket-card__close {
        top: 13px;
        right: 16.07px;
        max-width: 10px;
        min-width: 10px;
        height: 19px;
    }

    .basket-rightside {
        max-width: 248px;
        min-width: 248px;
        border-radius: 15px;
        padding: 25px 10.58px 44.14px 11px;
        height: 264px;
    }

    .basket-rightside__payment {
        margin-bottom: 10px;
    }

    .basket-rightside__payment span:first-child {
        font-size: 14px;
        font-weight: 700;
        line-height: 13px;
        letter-spacing: 0.01em;
    }

    .basket-rightside__payment span:last-child {
        font-size: 13px;
        font-weight: 700;
        line-height: 10px;
        letter-spacing: 0.01em;
    }

    .basket-rightside-property {
        margin-bottom: 10px;
    }

    .basket-rightside-property span {
        font-size: 11px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: 0.01em;
    }

    .basket-rightside__deliveryPoint button, .basket-rightside__deliveryDoor button {
        font-size: 12px;
        font-weight: 600;
        line-height: 13.3px;
        letter-spacing: 0.01em;
    }

    .basket-rightside__delivery {
        margin-bottom: 6.21px;
        height: unset;
    }

    .basket-rightside__deliveryPoint {
        margin-bottom: 2.98px;
    }

    .basket-rightside__deliveryDoor {
        margin-bottom: 33.33px;
    }

    .basket-rightside-button {
        margin: 0 19.22px 0 auto;;
    }

    .basket-rightside-button button {
        max-width: 182.9px;
        height: 23.48px;
        gap: 10px;
    }

    .basket-rightside-button button span {
        font-size: 11px;
        font-weight: 700;
        line-height: 11px;
    }

    .basket-rightside-button button img {
        max-width: 13.35px;
        min-width: 13.35px;
        height: 8.25px;
    }

    .basket-promo {
        flex-direction: column;
        gap: 12px;
        padding: 50px 24px 52px;
        border-bottom-width: 21px;
        margin-left: unset;
    }

    .basket-promo form {
        gap: 25px;
    }

    .basket-promo__title {
        gap: 10px;
        margin-right: unset;
        height: 25px;

    }

    .basket-promo__helper {
        max-width: 29px;
        min-width: 29px;
        height: 29px;
    }

    .basket-promo input {
        height: 37px;
        max-width: 280px;
        font-size: 17px;
        font-weight: 400;
        line-height: 20.72px;
        letter-spacing: 0.01em;
        padding: 9px 14px 7px;
    }

    .basket-promo button {
        height: 37px;
        max-width: 151px;
        font-size: 12px;
        font-weight: 450;
        line-height: 14.17px;
        letter-spacing: 0.01em;
    }

    .basket-promo__title span {
        font-size: 21px;
        font-weight: 700;
        line-height: 25px;
    }

    .basket-delivery {
        padding: 45px 19px 50px 24px;
        border-bottom-width: 21px;
        margin-left: unset;
    }

    .basket-delivery__title {
        font-size: 21px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 6px;
    }

    .basket-delivery__subitle {
        font-size: 15px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0.01em;
        margin-bottom: 32px;
        max-width: 458px;
    }

    .delivery-form__blockInput label span {
        font-size: 12px;
        font-weight: 450;
        line-height: 14px;
        letter-spacing: 0.01em;
        margin-left: 5px;
    }

    .delivery-form__blockInput label input, .delivery-form__blockInput label select {
        height: 37px;
    }

    .delivery-form__blockInput label {
        margin-bottom: 15px;
    }

    .delivery-form__blockInput > div:last-of-type > label:first-child,
    .delivery-form__blockInput > div:first-of-type > label:first-child {
        max-width: 92px;
        min-width: 92px;
        margin-right: 21px;
    }

    .delivery-form__blockInput {
        margin-bottom: 16px;
        margin-left: 2px;
    }

    .labelRadio span:first-child {
        font-size: 13px;
        font-weight: 600;
        line-height: 14.4px;
        letter-spacing: 0.01em;
    }

    .labelRadio span:last-child {
        font-size: 10px;
        font-weight: 600;
        line-height: 11.08px;
        letter-spacing: 0.01em;
    }

    .delivery-form__blockRadio {
        margin-bottom: 26px;
        margin-left: 7px;
    }

    .basket-delivery-form__addone {
        gap: 37px;
        margin-bottom: 44px;
        align-items: center;
    }

    .basket-delivery-form__addone span:first-child {
        font-size: 13px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0.01em;
        max-width: 379px;
        margin-left: 10px;
    }

    .labelRadio > div {
        height: unset;
        max-width: 384px;
    }

    .basket-delivery button {
        height: 37px;
        max-width: 283px;
        font-size: 13px;
        font-weight: 450;
        line-height: 15.35px;
        letter-spacing: 0.01em;
        margin: 0 82px 0 auto;
    }
    .basket-payment {
        padding: 50px 25px 0;
        font-size: 21px;
        font-weight: 700;
        line-height: 25px;
        gap: 14px;
        margin-left: unset;
    }

    .basket-payment__title {
        font-size: 21px;
        font-weight: 700;
        line-height: 25px;
    }

    .basket-payment-list ul {
        gap: 24px;
        margin-left: 6px;
    }

    .basket-payment-list li input {
        margin-right: 13px;
    }

    .basket-payment-list li span {
        font-size: 14px;
        font-weight: 600;
        line-height: 15.51px;
        letter-spacing: 0.01em;
    }

    .basket-payment-list li img {
        margin-right: 9.25px;
    }

    .basket-payment-list li:nth-child(1) img {
        max-width: 22.75px;
        min-width: 22.75px;
        height: 13px;
    }

    .basket-payment-list li:nth-child(2) img {
        max-width: 21px;
        min-width: 21px;
        height: 21px;
    }

    .basket-payment-list li:nth-child(3) img {
        max-width: 22px;
        min-width: 22px;
        height: 26.07px;
    }

}

@media screen and (max-width: 600px) {
    .basket {
        flex-direction: column;
        padding: 10.25px 0 98px;
        gap: 0;
    }

    .basket-btns button:last-child {
        width: 87px;
    }

    .basket-title {
        padding-top: unset;
        padding-left: 17px;
        padding-bottom: 10px;
    }

    .basket-btns {
        padding-left: 17px;
        padding-right: 23px;
        margin-bottom: 20px;
    }

    .basket-btns  button {
        font-size: 16px;
        font-weight: 450;
        line-height: 19px;
    }

    .basket-cards {
        padding: unset;
        padding:  0 12px;
    }

    .basket-card {
        padding: 27px 0;
        row-gap: 13px;
        column-gap: 24px;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }

    .basket-card:last-child {
        padding-bottom: 40px;
        border-bottom: unset;
    }

    .basket-card-container-img {
        grid-row: 1;
        grid-column: 1;
        line-height: 0;
    }

    .basket-card-container-img img {
    }

    .basket-card-price-container-result {
        grid-column: span 2;
        padding-left: 16px;
    }

    .basket-card-container-main {
        padding-top: 19px;
        max-width: unset;
        width: calc(168px + 24px);
        align-self: start;
        padding-right: 17px;
    }

    .basket-card-description__category {
        font-size: 9px;
        line-height: 11.5px;
        letter-spacing: 0.01em;
        margin-bottom: 6px;
    }

    .basket-card-description__title {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
        height: 19px;
    }

    .basket-card-description__price {
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.01em;
        height: 17px;
    }


    .basket-card__close {
        top: 44px;
        right: 11px;
        width: 10px;
        height: 19px;
    }

    .basket-card-price-container-result {
        margin-top: unset;
    }

    .basket-card-btn {
        width: 30px;
        height: 16px;
    }

    .basket-card-btn:first-of-type {
        margin-right: 17px;
    }

    .basket-card-btn:nth-child(2) {
        margin-right: 25px;
    }

    .basket-card-btn_count {
        width: 27px;
        height: 19px;
    }

    .basket-card-price__value {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.01em;
        margin-right: 5px;
    }

    .basket-promo {
        border-top: 21px solid #EAE9E9;
        padding: 55px 17px;
        flex-direction: column;
        gap: 12px;
        border-bottom: 21px solid #EAE9E9;
    }

    .basket-promo__title {
        margin-right: unset;
    }

    .basket-promo__title span {
        font-size: 21px;
        line-height: 25px;
    }

    .basket-promo__helper {
        max-width: 21px;
        min-width: 21px;
        height: 23px;
    }

    .basket-promo form {
        gap: 11px;
    }

    .basket-promo button {
        max-width: 112px;
        font-size: 12px;
        line-height: 14px;

    }

    .basket-delivery {
        padding: 45px 17px 56px;
        border-bottom: 21px solid #EAE9E9;
    }

    .basket-delivery__title {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 6px;
    }

    .basket-delivery__subitle {
        font-size: 15px;
        line-height: 17px;
        height: 34px;
        margin-bottom: 15px;
    }

    .delivery-form__blockInput label span {
        font-size: 12px;
        line-height: 14px;
        height: 14px;
        margin-left: 6px;
    }

    .delivery-form__blockInput label input, .delivery-form__blockInput label select {
        height: 37px;
        font-size: 16px;
        line-height: 19px;
    }

    .delivery-form__blockInput > div:first-of-type > label:first-child {
        margin-right: 30px;
        max-width: 83px;
        width: 100%;
        min-width: 83px;
    }

    .delivery-form__blockInput > div:last-of-type > label:first-child {
        max-width: 92px;
        margin-right: 21px;
        width: 100%;
    }

    .delivery-form__blockInput {
        margin-bottom: 15px;
        margin-left: unset;

    }

    .delivery-form__blockRadio {
        gap: 16px;
        margin-bottom: 25px;
        margin-left: 4px;
    }

    .labelRadio input {
        max-width: 23px;
        min-width: 23px;
        height: 23px;
    }

    .labelRadio > div {
        height: unset;
    }

    .labelRadio span:first-child {
        font-size: 13px;
        line-height: 14px;
    }

    .labelRadio span:last-child {
        font-size: 10px;
        line-height: 11px;
    }

    .basket-delivery-form__addone {
        margin-bottom: 44px;
        align-items: center;
        gap: 19px;
    }

    .basket-delivery-form__addone span:first-child {
        font-size: 13px;
        line-height: 14px;
        max-width: 312px;
        height: 28px;
    }

    .basket-delivery button {
        margin: 0 auto;
        height: 37px;
        font-weight: 450;
        font-size: 13px;
        line-height: 15px;
    }

    .basket-payment {
        padding: 55px 25px 55px 22px;
        border-bottom: 21px solid #EAE9E9;
        gap: 14px;
    }

    .basket-payment-list ul {
        gap: 24px;
        margin-left: 3px;
    }

    .basket-payment-list li input {
        max-width: 23px;
        min-width: 23px;
        margin-right: 13px;
    }

    .basket-payment-list li img {
        margin-right: 9px;
    }

    .basket-payment-list li:nth-child(1) img {
        width: 22.75px;
        height: 13px;
    }

    .basket-payment-list li:nth-child(2) img {
        width: 21px;
        height: 21px;
    }

    .basket-payment-list li:nth-child(3) img {
        width: 22px;
        height: 26.07px;
    }

    .basket-payment-list li span {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        height: unset;
    }

    .basket-rightside {
        box-shadow: unset;
        border: unset;
        padding: 50px 25px 0;
        height: unset;
        margin: 0 auto;
        max-width: unset;
        min-width: unset;
    }

    .basket-rightside__deliveryDoor {
        margin-bottom: 19px;
    }

    .basket-rightside-button {
        margin: 0 auto;
    }

    .basket-rightside-button button {
        max-width: 283px;
        height: 37px;
        gap: 20px;
    }


    .basket-rightside-button button span{
        font-size: 13px;
        font-weight: 700;
        line-height: 13px;
        letter-spacing: 0.01em;
    }

    .basket-rightside-button button img {
        max-width: unset;
        min-width: unset;
        height: unset;
    }

    .basket-rightside__payment span:first-child,
    .basket-rightside__payment span:last-child  {
        font-size: 21px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.01em;
    }

    .basket-rightside-property span {
        font-size: 14px;
        font-weight: 600;
        line-height: 15.51px;
        letter-spacing: 0.01em;
    }

    .basket-rightside-property {
        margin-bottom: 16px;
    }

    .basket-rightside__deliveryPoint {
        margin-bottom: 9px;
    }

    .basket-rightside__deliveryPoint button, .basket-rightside__deliveryDoor button {
        font-size: 16px;
        font-weight: 600;
        line-height: 17.73px;
        letter-spacing: 0.01em;
    }

    .basket-rightside__deliveryDoor {
        margin-bottom: 19px;
    }

    .basket-rightside__delivery {
        margin-bottom: 9px;
    }

    .move-button_active{
        display: flex;
        height: 53px;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px 0 22px;
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
    }

    .move-button span:nth-child(1){
        font-family: LT Superior, sans-serif;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.01em;
    }

    .move-button span:nth-child(2){
        font-family: LT Superior, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 17.73px;
        letter-spacing: 0.01em;
    }

    .move-button span:nth-child(3){
        font-family: LT Superior, sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 16.62px;
        letter-spacing: 0.01em;
        color: #299F3E
    }


    .move-button-active {
        display: flex;
    }

}
