.product {
  display: flex;
  flex-direction: column;
  gap: 78px;
  max-width: 1512px;
  padding: 92px 61px 108px;
  position: relative;
  width: 100%;
}

.main-product ~ .main-section .section-title h2 {
  font-size: 32px;
  width: 273px;
  text-align: left;
}

.main-product ~ .main-section {
  gap: 37px;
}

.main-product {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.main-btn_back {
  position: absolute;
  top: 26px;
  left: 35px;
  color: black;
  font-family: LT Superior, sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 6.25px;
}

.product-card {
  display: flex;
}

.product-card__containerIMG {
  margin-left: 24px;
  aspect-ratio: 1.48304 / 1;
  line-height: 0;
}

.product-card__containerIMG img {
  aspect-ratio: 1.48304 / 1;
  width: calc(130vw - 637px);
  object-fit: cover;
  max-width: 875px;
}

.product-card__containerINFO {
  margin-top: 49px;
  position: relative;
  transform: translateX(-107px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-card__containerINFO_part:first-child {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product-card__category {
  font-family: LT Superior, sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.product-card__title {
  font-family: Involve, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.product-card__capacity {
  font-family: LT Superior, sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 22px;
  letter-spacing: 0.07em;
  margin-bottom: 18px;
}

.product-card__price {
  font-family: LT Superior, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 56px;
}

.product-card__delivery {
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-bottom: 35px;
  padding-left: 7px;
}

.product-card__delivery li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-card__delivery li:last-child {
  gap: 6px;
}

.product-card__delivery li img {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 44px;
  min-width: 44px;
  height: 44px;
  padding: 3px;
}

.product-card__delivery li span {
  font-family: LT Superior, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;

}

.product-card__btn {
  background-color: black;
  max-width: 215px;
  width: 100%;
  margin-left: 7px;

  height: 50px;
  font-family: LT Superior, sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 23px;
}

.product-card__btn:hover {
  background-color: #B6A8A8;
}

.product-card__manager {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-card__managerIMG-container {
  max-width: 36px;
  min-width: 36px;
  height: 36px;
  background-color: black;
  padding: 9px 8px;
  border-radius: 50%;
  margin-left: 7px;
}

.product-card__managerIMG-container:hover {
  background-color: #B6A8A8;
}

.product-card__managerIMG-container img {
  width: 100%;
  height: auto;
  line-height: 0;
}

.product-card__manager span {
  font-family: LT Superior, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.product-description {
  margin-left: 24px;
  max-width: 803px;
  width: 100%;
}

.product-description__category {
  font-family: LT Superior, sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 22px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.product-description__title {
  text-transform: uppercase;
  font-family: Involve, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.07em;
  margin-bottom: 27px;
}


.product-description__сompound,
.product-description__сharacteristics,
.product-description__rave,
.product-description__specification,
.product-description__manufacturer {
  font-family: LT Superior, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.product-description__сompound b,
.product-description__сharacteristics b,
.product-description__rave b,
.product-description__specification b,
.product-description__manufacturer b {
  font-family: LT Superior, sans-serif;
  font-size: inherit;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.product-description__manufacturer {
  margin-bottom: 0;
}

.main-product ~ .main-section .wrapper .carousel {
  margin: 0;
}

@media screen and (max-width: 1100px) {


  .main-product ~ .main-section .section-title {
    padding-left: 96px;
  }

  .main-product ~ .main-section .section-title h2{
    font-size: 24px;
    letter-spacing: 0.01em;
    font-family: Inter, serif;
    line-height: 22px;
  }

  .main-product ~ .main-section {
    gap: 34px;
  }

  .product {
    padding: 0;
    gap: 34.05px;
    padding-bottom: 58px;
  }

  .product-card__delivery li:last-child {
    gap: 21.97px;
  }

  .main-product {
    gap: 45.7px;
  }

  .product-card {
    flex-direction: column;
    gap: 2.58px;
  }


  .product-card__containerIMG {
    aspect-ratio: 1.71 / 1;
    margin-left: unset;
    margin-top: 98px;
  }

  .product-card__containerIMG img {
    aspect-ratio: 1.71 / 1;
    max-width: unset;
    width: 100%;
  }

  .product-card__containerINFO {
    transform: unset;
    margin: unset;
    padding-left: 24.11px;
  }

  .product-card__containerINFO_part:first-child {
    position: absolute;
    gap: 11.94px;
    transform: translateY(calc(-100vw / 1.71 - 26.49px));
  }

  .main-btn_back {
    font-family: LT Superior, sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 20px;
    top: 18.71px;
    left: 26.23px;
    gap: 8px;
  }

  .main-btn_back img {
    max-width: 20px;
    min-width: 20px;
    height: 9px;
  }

  .product-card__category {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
  }

  .product-card__title {
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.01em;
    padding-left: 1.61px;
  }

  .product-card__capacity {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 17.08px;
    padding-left: 1.23px;
    font-family: Involve, serif;

  }

  .product-card__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.92px;
    letter-spacing: 0.01em;
    margin-bottom: 17.87px;
    padding-left: 5.34px;
  }

  .product-card__btn {
    position: absolute;
    top: 33.2px;
    right: 29.55px;
    margin-bottom: unset;
    max-width: 173px;
    height: 31.45px;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.29px;
    font-family: Involve, serif;
  }

  .product-card__delivery {
    gap: 20px;
    margin-bottom: 20px;
    padding-left: 4.41px;
  }

  .product-card__delivery li {
    gap: 21.97px;
  }

  .product-card__delivery li img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
  }

  .product-card__manager span,
  .product-card__delivery li span {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
  }

  .product-card__managerIMG-container {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    margin-left: 4.41px;
  }

  .product-description {
    margin-left: unset;
    padding: 0 0 0 24.11px;
    max-width: 755.11px;
  }

  .product-description__category {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.28px;
    letter-spacing: 0.04em;
    display: none;
  }

  .product-description__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 31px;
    letter-spacing: 0.01em;
    margin-left: 4.97px;
  }



  .product-description__сompound,
  .product-description__сharacteristics,
  .product-description__rave,
  .product-description__specification,
  .product-description__manufacturer {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.51px;
    margin-bottom: 21px;

  }

  .product-description__manufacturer {
    margin-bottom: 0;
  }

  .product-description__specification {
    margin-left: 6.17px;
  }

  .product-description__сompound {
    display: none;
  }

  .product-description__сharacteristics {
    margin-left: 8.35px;
  }

  .product-description__rave {
    margin-left: 6.47px;
    line-height: 17px;
    margin-bottom: 21.22px;
  }

  .product-description__manufacturer {
    margin-left: 5.56px;
    line-height: 17px;
  }

}

@media screen and (max-width: 480px) {
  .main-product {
    gap: 28px;
  }

  .main-product ~ .main-section .section-title  {
    padding-left: unset;
    justify-content: center;
  }

  .main-product ~ .main-section .section-title h2 {
    font-size: 22px;
    line-height: 24.38px;
    font-weight: 600;
    font-family: "LT Superior", serif;
    width: unset;
  }

  .product {
    gap: 70px;
    padding-bottom: 25px;
  }

  .main-btn_back {
    top: 13.25px;
    left: 17px;
    gap: 5px;
  }

  .main-btn_back img {
    max-width: 15px;
    min-width: 15px;
    height: 6px;
  }

  .product-card {
    gap: unset;
  }

  .product-card__containerIMG {
    margin-top: 87.25px;
    aspect-ratio: 1.38 / 1;
  }

  .product-card__containerIMG img {
    aspect-ratio: 1.38 / 1;
    width: 100%;
    object-fit: cover;
  }

  .product-card__containerINFO {
    padding-left: 17px;
  }


  .product-card__containerINFO_part:first-child {
    position: absolute;
    gap: 4px;
    transform: translateY(calc(-100vw / 1.38 - 21px));
  }


  .product-card__containerINFO_part:last-child {
    margin-top: 11px;
  }

  .product-card__category {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
  }

  .product-card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    padding-left: 0;
  }

  .product-card__capacity {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 0;
  }

  .product-card__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
    padding-left: 0;
  }

  .product-card__btn {
    position: absolute;
    top: 33px;
    right: 17px;
    height: 40px;
    margin-bottom: unset;
    max-width: 113px;
    font-size: 10px;
    line-height: 14px;
    height: 27px;
  }

  .product-card__delivery {
    gap: 15px;
    margin-bottom: 15px;
    padding-left: 0;
  }

  .product-card__managerIMG-container,
  .product-card__delivery li img {
    max-width: 29px;
    height: 29px;
    min-width: 29px;
    margin-left: 0;

  }

  .product-card__delivery li:last-child {
    gap: 10px;
  }

  .product-card__manager span,
  .product-card__delivery li span {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }

  .product-card__delivery li,
  .product-card__manager {
    gap: 10px;
  }

  .product-card__managerIMG-container {
    padding: 7px 6px;
  }

  .product-description {
    margin-left: unset;
    padding: 0 24px 0 17px;
  }

  .product-description__category {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 14px;
  }

  .product-description__title {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 0;
  }

  .product-description__сompound,
  .product-description__сharacteristics,
  .product-description__rave,
  .product-description__specification,
  .product-description__manufacturer {
    font-size: 14px;
    line-height: 15.51px;
    margin-bottom: 15px;
    margin-left: 0;
  }

  .product-description__сompound b,
  .product-description__сharacteristics b,
  .product-description__rave b,
  .product-description__specification b,
  .product-description__manufacturer b {
    font-size: inherit;
    line-height: inherit;
  }

  .product-description__manufacturer {
    margin-bottom: 0;
  }
}
