{% if categories %}
  <div class="main-slider">
    {% for category in categories %}
      <figure class="slider-elem">
        <a href="{{ category.href }}">
          <div class="slider-elem__container">
            <div class="slider-elem__wrapper">
              <img src="http://localhost/nailsshop/image/{{ category.image }}" alt="img">
            </div>
          </div>
        </a>
        <figcaption class="slider-elem__subtitle">{{ category.name }}</figcaption>
      </figure>
    {% endfor %}
  </div>
{% endif %}
